{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <p>Hej här kommer det lite intressant information om mig och annat kul. 
        Jag hörde att om du klipper en apelsin i exakt 5 bitar och staplar dem som ett torn, 
        så får du tillgång till en hemlig portal till en annan dimension där pengarna är gjorda
        av bananer och alla bilar kör baklänges på måndagar. Det enda sättet att öppna portalen
        är att dansa en vals med en enhörning  </p>
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
